#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .calculadorasDiv{
    display: flex;
    gap: 30px;
  }
  .calculadora{
    border: solid;
    border-radius: 50px;
    padding: 20px
  }
  .calculadora h1 {
    border: solid;
    border-radius: 50px;
  }
  
 