#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
  }
  .producto, .usuario, .cuenta{
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(235, 187, 124);
    font-weight: 700;
    list-style: none;
    color: #000;
  }
  .flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }